{%extends 'private_room/base.html'%}

{%block content%}

 <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-md-4">
      <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
        <h1 class="h2">Dashboard</h1>
        <div class="btn-toolbar mb-2 mb-md-0">
          <div class="btn-group mr-2">
            <button type="button" class="btn btn-sm btn-outline-secondary">Share</button>
            <button type="button" class="btn btn-sm btn-outline-secondary">Export</button>
          </div>
          <button type="button" class="btn btn-sm btn-outline-secondary dropdown-toggle">
            <span data-feather="calendar"></span>
            This week
          </button>
        </div>
      </div>

     {%for data in all_data%}
      <h2>Расписание на этой неделе {{data.course_group.course.name}}</h2>
      <div class="table-responsive">
        <table class="table table-striped table-sm">
          <thead>
            <tr>
              <th>Урок</th>
              <th>Дата</th>
              <th>Тема</th>
              <th>Учитель</th>
              <th>Ссылка на урок</th>
            </tr>
          </thead>
          <tbody>
           {%for lesson in data.lessons%}

           <tr>
             <td>{{lesson.pk}}</td>
             <td>{{lesson.planning_date}}</td>
               <td><a href="{% url 'lesson_detail' pk=lesson.pk%}">{{lesson.name}}</a></td>
             <td>{{teacher.username}}</td>
             <td>{{lesson.path_to_video_lesson}}</td>
           </tr>
          {%endfor%}
          </tbody>
        </table>
      </div>
     {%endfor%}

    </main>
{%endblock%}