<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Register</title>
</head>
<body>
 <form method="POST" enctype="multipart/form-data">
        {%csrf_token%}

        <!-- вывод основных полей пользователя -->

            {%for field in user_form%}
                <p>{{field.label_tag}}</p>
            {{field}}
            {%endfor%}
            <br>

            {%for field in profile_form%}
            <!-- вывод наших полей пользователя -->
                <p>{{field.label_tag}}</p>
            {{field}}
            {%endfor%}
            <br>
            <input type="submit" value="Register">
    </form>
</body>
</html>